[submodule "BurpJDSer-ng"]
	path = BurpJDSer-ng
	url = git://github.com/IOActive/BurpJDSer-ng.git
[submodule "BurpAuthzPlugin"]
	path = BurpAuthzPlugin
	url = https://github.com/wuntee/BurpAuthzPlugin.git
[submodule "Wsdler"]
	path = Wsdler
	url = git://github.com/NetSPI/Wsdler.git
[submodule "Deflate-Burp-Plugin"]
	path = Deflate-Burp-Plugin
	url = https://github.com/GDSSecurity/Deflate-Burp-Plugin
[submodule "WCF-Binary-SOAP-Plug-In"]
	path = WCF-Binary-SOAP-Plug-In
	url = https://github.com/GDSSecurity/WCF-Binary-SOAP-Plug-In.git
[submodule "burp_jsbeautifier"]
	path = burp_jsbeautifier
	url = https://github.com/Meatballs1/burp_jsbeautifier
[submodule "burp_wicket_handler"]
	path = burp_wicket_handler
	url = https://github.com/Meatballs1/burp_wicket_handler.git
[submodule "burp-protobuf-decoder"]
	path = burp-protobuf-decoder
	url = https://github.com/mwielgoszewski/burp-protobuf-decoder.git
[submodule "curlit"]
	path = curlit
	url = https://github.com/faffi/curlit
[submodule "Burp-SessionAuthTool"]
	path = Burp-SessionAuthTool
	url = https://github.com/thomasskora/Burp-SessionAuthTool
[submodule "POST2JSON"]
	path = POST2JSON
	url = https://github.com/cyberisltd/POST2JSON.git
[submodule "burp_saml"]
	path = burp_saml
	url = https://github.com/Meatballs1/burp_saml
[submodule "burp_gwt"]
	path = burp_gwt
	url = https://github.com/Meatballs1/burp_gwt
