[submodule "BurpJDSer-ng"]
	path = BurpJDSer-ng
	url = git://github.com/IOActive/BurpJDSer-ng.git
[submodule "BurpAuthzPlugin"]
	path = BurpAuthzPlugin
	url = https://github.com/wuntee/BurpAuthzPlugin.git
[submodule "Wsdler"]
	path = Wsdler
	url = git://github.com/NetSPI/Wsdler.git
